# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*tags
*.swp

ccnet/
logs/
seafile-server/runtime/
seafile-server/seahub/media/avatars
seafile-server/src/libevhtp-1.1.6/install_manifest.txt
seafile-server/src/libzdb-2.12/.libs/
seafile-server/src/libzdb-2.12/Makefile
seafile-server/src/libzdb-2.12/autom4te.cache/
seafile-server/src/libzdb-2.12/config.log
seafile-server/src/libzdb-2.12/config.status
seafile-server/src/libzdb-2.12/libtool
seafile-server/src/libzdb-2.12/src/db/.dirstamp
seafile-server/src/libzdb-2.12/src/db/postgresql/.dirstamp
seafile-server/src/libzdb-2.12/src/db/sqlite/.dirstamp
seafile-server/src/libzdb-2.12/src/exceptions/.dirstamp
seafile-server/src/libzdb-2.12/src/net/.dirstamp
seafile-server/src/libzdb-2.12/src/stamp-h1
seafile-server/src/libzdb-2.12/src/system/.dirstamp
seafile-server/src/libzdb-2.12/src/util/.dirstamp
seafile-server/src/libzdb-2.12/src/xconfig.h
seafile-server/src/libzdb-2.12/test/.libs/
seafile-server/src/libzdb-2.12/test/exception
seafile-server/src/libzdb-2.12/test/pool
seafile-server/src/libzdb-2.12/test/select
seafile-server/src/libzdb-2.12/test/unit
seafile-server/src/libzdb-2.12/tools/bin/
seafile-server/src/libzdb-2.12/zdb.pc
seafile-server/src/libzdb-2.12/zdb/
seahub-data/
seahub.db
seahub_settings.py
seahub_settings.pyc
